# Local Environment Variables
.env.local
.env.*.local

# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Production build
build/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage directory
coverage/
